#include <os2.h>
#include "res.h"
#include "..\hmle\hmle.h"
#include "..\hef\hef.h"

ICON ID_APP	pen.ico
MENU ID_APP
{
	SUBMENU "~File" ,IDM_FILE
	{
		MENUITEM "~New" , IDM_NEW, MIS_TEXT
		MENUITEM "~Open\tCtrl-O" , IDM_OPEN , MIS_TEXT
		MENUITEM "~Save\tCtrl-S" , IDM_SAVE , MIS_TEXT		
		MENUITEM "Save ~as..." , IDM_SAVEAS, MIS_TEXT
		MENUITEM SEPARATOR
		MENUITEM "Reload as KS/johab", IDM_RELOAD, MIS_TEXT
		MENUITEM "~Properties..",IDM_PROPERTIES,MIS_TEXT
		MENUITEM "~Options..",IDM_OPTIONS,MIS_TEXT
		MENUITEM SEPARATOR
		MENUITEM "E~xit\tAlt-X" , IDM_EXIT , MIS_TEXT
	}
	SUBMENU "~Edit" ,IDM_EDIT
	{
		MENUITEM "~Copy\tCtrl-Ins",IDM_COPY,MIS_TEXT
		MENUITEM "Cu~t\tShift-Del", IDM_CUT, MIS_TEXT
		MENUITEM "~Paste\tShift-Ins",IDM_PASTE,MIS_TEXT
		MENUITEM "~Delete",IDM_CLEAR,MIS_TEXT
		MENUITEM SEPARATOR
		MENUITEM "~Find...\tCtrl-F",IDM_FIND,MIS_TEXT
		MENUITEM "Select ~All\tCtrl-/",IDM_SELECTALL,MIS_TEXT
	}
	SUBMENU "~Help" ,IDM_HELP
	{
		MENUITEM "~About" , IDM_ABOUT, MIS_TEXT
	}
}

rcinclude dlg.dlg
