#include <os2.h>
#include "res.h"
#include "..\hmle\hmle.h"
#include "..\hef\hef.h"

ICON ID_APP	pen.ico
MENU ID_APP 
BEGIN
	SUBMENU "~File", IDM_FILE
	BEGIN
		MENUITEM "~New", IDM_NEW, MIS_TEXT
		MENUITEM "~Open\tCtrl-O", IDM_OPEN, MIS_TEXT
		MENUITEM "~Import\tCtrl-I", IDM_IMPORT, MIS_TEXT
		MENUITEM "~Save\tCtrl-S", IDM_SAVE, MIS_TEXT
		MENUITEM "Save ~as...", IDM_SAVEAS, MIS_TEXT
		MENUITEM SEPARATOR
		MENUITEM "Re~load as KS/johab", IDM_RELOAD, MIS_TEXT
		MENUITEM "~Properties..", IDM_PROPERTIES, MIS_TEXT
		MENUITEM "~Options..", IDM_OPTIONS, MIS_TEXT
		MENUITEM SEPARATOR
		MENUITEM "E~xit\tAlt-X", IDM_EXIT, MIS_TEXT
	END

	SUBMENU "~Edit", IDM_EDIT
	BEGIN
		MENUITEM "~Copy\tCtrl-Ins", IDM_COPY, MIS_TEXT
		MENUITEM "Cu~t\tShift-Del", IDM_CUT, MIS_TEXT
		MENUITEM "~Paste\tShift-Ins", IDM_PASTE, MIS_TEXT
		MENUITEM "~Delete", IDM_CLEAR, MIS_TEXT
		MENUITEM SEPARATOR
		MENUITEM "~Find...\tCtrl-F", IDM_FIND, MIS_TEXT
		MENUITEM "Select ~All\tCtrl-/", IDM_SELECTALL, MIS_TEXT
	END

	SUBMENU "~Help", IDM_HELP
	BEGIN
		MENUITEM "~About", IDM_ABOUT, MIS_TEXT
	END

END

rcinclude dlg.dlg

MENU ID_POPUP 
BEGIN
	MENUITEM "~Copy", IDM_COPY
	MENUITEM "Cu~t", IDM_CUT
	MENUITEM "~Paste", IDM_PASTE
	MENUITEM SEPARATOR
	MENUITEM "~Delete", IDM_CLEAR
END

